//--------------------------------------------------------------
// Typography
// --------------------------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700,500);

$font-1 : 'Roboto', sans-serif;
$font-2 : $font-1;
$font-3 : "FontAwesome";


//--------------------------------------------------------------
// Colors
// --------------------------------------------------------------*/

$color-1 : "";
$color-2 : "";

$link-color       : blue;
$link-hover-color : orange;
$theme-bg-color   : #fff;

$text-color   : #000;
$border-color : #ddd;


//--------------------------------------------------------------
// Responsive Breakpoints
//--------------------------------------------------------------*/


//--------------------------------------------------------------
// Site Settings
// --------------------------------------------------------------*/

$base-font-weight   : 400;
$base-font-size     : 16px;
$base-line-height   : $base-font-size * 1.5;
$base-font-family   : $font-1;

$title-font-weight : 700;
$title-font-family : $font-2;
$icon-font         : $font-3;
