/*--------------------------------------------------------------
 ## Helper Classes
 --------------------------------------------------------------*/

.animation{
	-webkit-transition: all .2s; /* Safari */
    transition: all .2s;
}

.reset{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	outline: none;
	list-style: none;
}