/*--------------------------------------------------------------
 ## Form and From Related Element Styles
 --------------------------------------------------------------*/

input[type="text"],
input[type="url"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="email"],
input[type="text"]{


}


textarea, 
textarea.form-control{

	resize: vertical;
	overflow: auto;
}


// File Upload Handel
.dropzone{

}